body {
  color: darkslategrey;
  font-family: arial, sans-serif;
  font-size: 17px;
}

#elon {
  font-size: 30px;
}

.text-center {
  text-align: center;
}

h2 {
  font-size: 24;
  background-color: lightskyblue;
}

h1,
h2,
a {
  color: darkblue;
}

a:visited {
  color: darkblue;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#link2 {
  color: white;
}
#link2:hover {
  color: darkblue;
  text-decoration: underline;
}

a.link {
  color: lightskyblue;
}

a.link:hover {
  color: darkblue;
  text-decoration: underline;
}

#copyright {
  font-style: italic;
  font-weight: bold;
  text-align: center;
}
